#headerStyle{
    text-align: center;
    font-style: oblique;
    line-height: 50px;
    letter-spacing: 0.cap;
 }

    


  .navbar-list {
      display: flex;
      font-size: 15px;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      margin: 0;
  }

  /* using product  */

  .product {
      background-color: white;
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 1em;
      padding: 1em;
      width: 30%;
      box-sizing: border-box;
      text-align: center;


  }
  .product >img {
      width: 100%;
      border-radius: 25px;
  }


  .product-grid {
       display: flex;
      flex-wrap: wrap; 
      justify-content: space-around;
      width: 100%;
      padding: 10px;
       
  }

  

  .newsletter {
      background-color: #444;
      color: white;
      text-align: center;
      padding: 2em 0;
  }

  .newsletter input[type="email"] {
      padding: 0.5em;
      margin-right: 1em;
      border: none;
      border-radius: 4px;
  }

  .newsletter input[type="submit"] {
      padding: 0.5em 2em;
      border: none;
      border-radius: 4px;
      background-color: #333;
      color: white;
      cursor: pointer;
  }
  /* Customer feed back */

  .testimonials {
      background-color: #a6b593;
      padding: 2em;
      max-width: 1000px;
      margin: 2em auto;
      box-shadow:  5px 5px 5px #1bccc3 ;
      border-radius: 5% 12%;
  }
 #card #pragrahpContent{
  /* background-color: blue; */
  font-style: italic;
  font-weight: bold;
 }



