div p{
    font-weight: bold;

 }

#headerStyle{
    text-align: center;
    font-style: oblique;
    line-height: 50px;
    letter-spacing: 0.cap;
}



  .color-span{
    background-color: turquoise;
  }
  .h4{
    font-weight: bold;
}

 
 .navbar-list {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}



.newsletter {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 2em 0;
}

.product {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2em;
    padding: 1em;
    width: calc(95% - 4em);
    box-sizing: border-box;
    text-align: left;

}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em;
    max-width: 1000px;
    margin: 3em auto;
}

.product > p >img {
    width: 60%;
    border-radius: 25px;
}



/* Mobile small (up to 320) */

@media screen and (max-width: 320px) {
    
}

/* Mobile Medium(up to 425px) */

@media screen and (min-width: 321px) and (max-width: 375px) {
    
}


/* Mobile Largeer */

@media screen and (min-width: 376px) and (max-width: 425px) {
    
}

/* Tab Types divices */
@media screen and (min-width: 426px) and (max-width: 768px) {
    
}


/* Laptop Type divices */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

/* Laptop large */

@media screen and (max-width: 1025px) and (max-width: 1440px) {
    
}


/* 4k -2560 */
@media screen and (min-width : 1441px) and (max-width: 2560px){
    
}
